.gridStyler { 
    height: 70vh;
    width: 70vw;
    margin: 6vh auto;
    box-shadow: 1px 1px 20px 2px #c8c8c8;
}

.dynamicColumnToggle {
    height: 38px;
    width: 180px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}