.evenRow {
    background-color: rgb(212, 255, 244) !important;
}

.blueHeader {
    background-color: rgb(67, 116, 238);
    color: white;
}

.skyBlueHeader {
    background-color: rgb(178, 237, 231) !important;
    color: black;
}